* {
    box-sizing: border-box;
}

body {
    background-color: rgb(27, 22, 22);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    color: white;
}

.top-navbar {
    overflow: hidden;
    background-color: rgb(72, 68, 68);
    padding: 10px;
}

.top-navbar a{
    display: block;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
 }

.search-container {
    float: right;
    padding-top: 25px;
}

.search-container input {
    border-radius: 15px;
    height: 28px;
    width: 200px;
    font-size: medium;
    background-color: rgb(36, 35, 35);
    color: white;
}

.column-container {
    float: left;
    width: 25%;
    padding: 15px 10px;
}

.movie-container {
    border-radius: 20px;
    box-shadow: -5px 5px rgb(73, 71, 71);
    background-color: rgb(36, 35, 35);
    padding: 15px;
    width: 350px;
    height: 425px;
    text-align: center;
    font-size: small;
}

.thumbnail {
    height: 350px;
    width: 300px;
    border-radius: 20px;
}

.reviews {
    position: relative;
    top: -11px;
    font-size:medium;
    color: blue;
}

.reviews-for-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
}

.reviews-for-container h3 {
    position: relative;
    top: -10px;
    font-style: italic;
}

.new-review-container {
    position: relative;
    left: 710px;
    width: 370px;
    height: 210px;
    padding-top: 15px;
    box-shadow: -5px 5px rgb(73, 71, 71);
    background-color: rgb(36, 35, 35);
    border-radius: 19px;
    color: white;
    text-align: center;
}

.new-review-container input {
    border-radius: 15px;
    height:28px;
    width: 245px;
    background-color: rgb(36, 35, 35);
    font-size: large;
    color: white;
}

section[id=reviews-container] {
}
